<div class="container d-flex mt-4 text-center justify-content-center">
  <div class="profile-card p-4">
    <div class="image-user d-flex">
      <img src="<%= current_user.photo %>" alt="profile image" style="width:150px;height:150px;padding:10px;">

      <div class="container">
      <div class="row">
      <div><h2><%= @user.first_name %></h2></div>
      <div><h2><%= @user.last_name %></h2></div>
      </div>
      </div>


      </div>
    </div>

    <hr>
    <strong><%= @user.email %></strong>
    <p><%= @user.description %></p>
  <%= link_to 'Edit Profile', edit_user_path %>
  </div>

  <div class="bookings-card p-4">
    <h4>Upcoming Venues</h4>
    <hr>
          <div class="row">
            <% if @upcoming_venues %>
              <% @upcoming_venues.each do |booking| %>
                <div class="col-md-4">

                    <div class="card-description-renting">
                      <h2><%= booking.venue.name %></h2>
                    </div>
                    <a class="card-link" href="#" ></a>
                    <%= link_to("See Venue Details", venue_path(booking.venue), class: "card-link") %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p class="col-md-12">You don't have any upcoming venues yet. You should rent one! </p>
            <% end %>
          </div>
    </div>

    <div class="bookings-card p-4">
    <h4>Past Venues</h4>
    <hr>
          <div class="row">
            <% if @past_venues %>
              <% @past_venues.each do |booking| %>
                <div class="col-md-4">

                    <div class="card-description-renting">
                      <h2><%= booking.venue.name %></h2>
                    </div>
                    <a class="card-link" href="#" ></a>
                    <%= link_to("See Details", booking_path(booking.venue), class: "card-link") %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p class="col-md-12">You don't have any upcoming venues yet. You should rent one! </p>
            <% end %>
          </div>
    </div>
</div>
