
<div class="container mt-4">
  <h1>Venues</h1>
  <% if @venues.count == 1 %>
    <p class="dark-gray">Found 1 Result</p>
  <% else  %>
    <p class="dark-gray">Found <%= @venues.count %> Results</p>
  <% end %>
  <p></p>
  <div class="row">
    <% @venues.each do |venue| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to venue_path(venue) do %>
          <div class="card d-flex">
            <img class="card-image" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" style="height:100%;width:100%;">
            <div class="card-infos text-left link-unstyled">
              <div>
                <h2><%= venue.name.upcase %></h2>
                <hr>
                <p><%= venue.location.upcase %></p>
                <p><%= venue.category %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div
      id="map"
      style="width: 200%;
      height: 500px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAP_BOX_API_KEY'] %>"
    ></div>
    </div>
  </div>
</div>









