<p id="notice"><%= notice %></p>


<div class="container">
  <form method="get" action="/venues/new">
    <button type="submit" class="btn-md btn-info mb-4 p-2 rounded-2">Add New Venue</button>
</form>
  <h1>Venues</h1>
  <% if @venues.count == 1 %>
    <p>Found 1 Result</p>
  <% else  %>
    <p>Found <%= @venues.count %> Results</p>
  <% end %>
  <div class="row">
    <% @venues.each do |venue| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to venue_path(venue) do %>
          <div class="card d-flex">
            <img class="card-image" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" style="height:100%;width:100%;">
            <div class="card-infos">
              <div>
                <h2><%= venue.name %></h2>
                <p><%= venue.category %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>









