
<div class="index-container">
  <h1>Venues</h1>
  <% if @venues.count == 1 %>
    <p class="dark-gray">Found 1 Result</p>
  <% else  %>
    <p class="dark-gray">Found <%= @venues.count %> Results</p>
  <% end %>
  <p></p>
  <div style="display: flex;">
    <div class="containery">
      <!-- <div> -->
        <div class="row">
        <% @venues.each do |venue| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to venue_path(venue) do %>
            <div class="homepage-card">
              <img class="card-image d-flex" src="<%= venue.photo %>" style="height:150px;width:300px;">

              <div class="card-infos text-left link-unstyled">
                <div>
                  <h2 class="gray"><%= venue.name.upcase %></h2>
                  <hr>
                 <div class="d-flex">
                    <i class="fas fa-map-marker-alt text-purple mt-2"></i>
                    <p class="text-purple"><%= venue.location.upcase %></p>
                  </div>
                    <p class="text-purple mx-2 mb-2"><%= venue.category %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
      <!-- </div> -->

        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div
            id="map"
            style="width: 100%;
            height: calc(100vh - 80px);margin-top:80px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAP_BOX_API_KEY'] %>">
          </div>
      </div>
      </div>
    </div>
</div>












