<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="show-card p-2">
          <div class="text-center my-4">
            <h2>
              <%= @venue.name %>
            </h2>
          </div>
            <div class="text-center">
              <img src="https://picsum.photos/200" class="show-image" alt="<%= @venue.name %>" style="width:100%">
            </div>
          <div class="card-infos text-left">
            <div>
              <p>
                <strong>Location:</strong>
                <%= @venue.location %>
              </p>
              <p>
                <strong>Category:</strong>
                <%= @venue.category %>
              </p>
              <p>
                <strong>Description:</strong>
                <%= @venue.description %>
              </p>
              <p>
                <strong>Price Per Hour (£):</strong>
                <%= @venue.price %>
              </p>
            </div>
          </div>
        </div>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="bookings-card p-4">
            <% if user_signed_in? && @venue.user == current_user %>
            <%= render 'rented_venue_edit_form' %>
            <% elsif user_signed_in?  %>
            <%= render 'rent_venue_form' %>
            <% else  %>
            <%=  render 'rent_venue_form' %>
            <% end %>
          </div>
        </div>
  </div>
</div>


<div class="container mt-4">
  <div class="card p-2">
        <h2><strong>Reviews</strong></h2>
        <hr>
        <% @bookings.each do |booking|%>
        <ul class="list-inline">
         <% if booking.review %>
            <li class="list-unstyled">
            <div class="review-chat">
              <%= cl_image_tag booking.user.photo.path, width: 50, height: 50, crop: :thumb, gravity: :face, class: "avatar"  %>
              <div class="review-comment">
                <% booking.review.rating.times do %>
                <i class="fa fa-star" aria-hidden="true" ></i>
                <% end %>
                <% (5- booking.review.rating).times do %>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                <% end %>
                <p> <%= booking.review.content %> </p>
              </div>
            </div>
            </li>
          <% end %>
         </ul>
       <% end %>
  </div>
</div>



   <!--  <div class="col-xs-12 col-sm-6">
      <div class="text-center">
        <%#= simple_form_for [@bed, @booking] do |f| %>

          <div class="booking-card">
            <div >
            <p>From </p>
            <%#= f.text_field :checkin_on, class: "datepicker checkin_on", value: @checkin, placeholder: "dd/mm/yyyy" %>
            </div>
            <div>
            <p> To </p>
            <%#= f.text_field :checkout_on, class: "datepicker checkout_on", value: @checkout, placeholder: "dd/mm/yyyy" %>
            </div>
            <p> <strong>Total price: <span id="total_price"><%= @total_price %> £</span></strong></p>
            <%#= f.submit "Book", class: "btn btn-danger"%>
          </div>

        <%# end%>

      </div>
    </div>
  </div>
</div> -->


