<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @venue.location %>
</p>

<p>
  <strong>Category:</strong>
  <%= @venue.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<p>
  <strong>Price Per Hour (£):</strong>
  <%= @venue.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @venue.user.first_name %> <%= @venue.user.last_name %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
